@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@300&family=Roboto:wght@300&display=swap");

$small: 300px;
$medium: 900px;

* {
  background-color: black;
  color: white;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  .fontAwesome {
    font-size: 24pt;
    cursor: pointer;
    position: absolute;
    right: 30px;
    display: none;
  }
  .fontAwesome :hover {
    color: green;
  }
  a {
    text-decoration: none;
  }
  .firstNav {
    color: green;
  }
  .secondNav {
    color: red;
  }
  .thirdNav {
    color: yellow;
  }

  .logo {
    font-family: "Anton", bold;
    padding: 10px;
  }

  .pages {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 30%;

    li {
      border-radius: 24%;
      font-family: "Poppins";
      white-space: nowrap;

      a {
        padding: 15px;
      }
      a:hover {
        color: black;
        cursor: pointer;
        background-color: lightgray;
      }
    }
  }
}

@media screen and (min-width: $small) and (max-width: $medium) {
  .navigation {
    overflow: hidden;
    .fontAwesome {
      display: block;
    }
    .pages {
      flex-direction: column;
      height: 180px;
      margin-top: 60px;
      li {
        padding-bottom: 20px;
      }
    }
    .mobile-nav {
      height: 0;
    }
    .navbar-visible {
      height: 230px;
      transition: height 1s ease-in-out 0s;
    }
  }
}
