@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@300&family=Roboto:wght@300&display=swap");

$small: 300px;
$medium: 900px;
.contact-header {
  margin-left: 88px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Poppins";
  p {
    width: 300px;
  }
  .contact-box {
    background-color: yellow;
    padding: 20px;
    border-radius: 25px;
    margin-bottom: 10px;
    input,
    textarea {
      background-color: white;
      margin-bottom: 15px;
      padding: 10px;
      color: black;
    }

    form {
      display: flex;
      flex-direction: column;
      background-color: yellow;
      button {
        width: 100px;
        height: 30px;
        background-color: white;
        color: black;
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: $small) and (max-width: $medium) {
  .container {
    flex-direction: column;
  }
  iframe {
    width: 475px;
    height: 300px;
  }
  h1 {
    margin-left: 0;
  }
}
