.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: lightgray;
  justify-content: space-between;
  width: 100%;
  .footerNav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }
  p {
    background-color: lightgray;
  }
}
