@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@300&family=Roboto:wght@300&display=swap");

.home {
  color: white;
  text-align: center;
  margin: auto;
  width: 60%;
  font-family: "Poppins";
}
