@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@300&display=swap");

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: yellow;

  .logo {
    font-family: "Anton", bold;
    padding: 10px;
  }

  .pages {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    li {
      padding: 15px;
      border-radius: 24%;
      font-family: "Roboto";
    }
  }

  .pages :hover {
    color: white;
    cursor: pointer;
    background-color: rebeccapurple;
  }
}
